
body{
	background-color:#f2f2f2;
	color:$white;
}
.head{
	width:100%;
	
	article{
		padding:0 !important;
	}

}

.punch-line{
	background-color: $dull-blue;
	text-align:center;
	padding:40px 0;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: bold;
	b{
		color:$dull-light-grey;
		cursor:pointer;
		@include trans;
		&:hover{
			opacity:0.5;
			@include trans;
		}
	}
}

.block{
	background-color:$dull-light-grey;
	height:250px;
	margin:0 !important;
	
	div{
		background-color:$grayDark;
		width:100%;
		padding: 10px 0;
		font-weight: bold;
		margin-top: -38px;
		position: relative;
		z-index: 999;
		
		i{
			float:right;
			margin-right:20px;
			font-style:normal;
		}
	}
}

.span6 {width: 430px;}
.span1 {width: 20px;}

.work{
	.row{
		margin:40px 0;
	}
	
	.more-work{
		display:none;
		height:250px;
	}
	
	a{
		color:$white;
	}
	.more{
		color:$grayDark;
		font-size:20px;
		font-weight:bold;
	}
}

.cont{
		color:$grayDark;
		font-size:20px;
		font-weight:bold;
	}
	
.about{
	background-color:$dull-green;
	padding: 40px 0;
	.span6{
		font-size: 13px;
		line-height: 23px;
	}
	li {
		line-height: 25px;
	}
	b{
		font-size:20px;
	}
}

.social{
	background-color:$dull-red;
	padding: 30px 0;
	ul{
		text-align:center;
	}
	li{
		display: inline;
		list-style-type: none;
		padding:0 4%;

		@include trans;
		&:hover{
			opacity:0.7;
			@include trans;
		}
	}
}

footer{
	background-color:$dull-blue;
	padding: 40px 0;
	text-align:center;
}

input.span6, textarea.span6, .uneditable-input.span6 {
	width: 450px;
	height:30px;
}

textarea{
	height:300px !important;
}

.name{
	margin-right:16px;
}

.jcarousel-skin-tango{
	img{
		width:100%;
		@include trans(0.9s);
		&:hover{
			opacity:0.9;
			@include trans(0.9s);
		}
	}
}

.logo{
	position:absolute;
	z-index: 99;
	width:100%;
	margin-top:20px;
	
	div{
		text-align:center;
	}
}

.opt{
	color:$grayDark !important;
	font-size:20px;
	b{
		cursor:pointer;
	}
	
	.more{
		float:right;
	}
}

#graph{
	.graphValuegraph{
		color:$dull-green;
		display:none;
	}
	.graphLabelgraph{
		font-size: 10px;
		margin-top: 10px;
	}
}

input.span6, textarea.span6, .uneditable-input.span6 {
width: 449px;
height: 30px;
}