::-moz-selection {
	color: $white;
	text-shadow: none;
	background: #778da8;
}

::selection {
	color: $white;
	text-shadow: none;
	background: #778da8;
}

.container{
	header:first-child{
		text-align:center;
		img{
			margin: 12px 0;
			opacity:.4;
			@include transition(.5s ease); 
			&:hover{
				opacity:1;
			}
		}
	}
}

.flexslider{
	border:none;
	box-shadow:none;
	margin-top: 10px;

	.slides{
		img{
			width:auto;
		}
	}
}

.flex-control-thumbs {
	margin: 35px 0 0;
	img {
		width:auto;
		margin-left: auto;
		margin-right: auto;
	}
	li{
		width:20%;
	}
}

.img-text{
	position: absolute;
	top: 120px;
	margin-left: 70px;
	h2{
		margin: 5px 0;
	}
	article{
		font-size:17px;
		line-height: 25px;
		padding:10px 0 25px 0;
	}
	a{
		color: $white;
	}
	p{
			img{
			opacity:.5;
			@include transition(.3s ease);
			&:hover{
				opacity:1;
			}
		}
	}
}

.white{
	color:$white;
}


.copy{
	text-align: center;
	margin-top: 25px;
	letter-spacing: 4px;
	font-size: 13px;
}

#navcontainer ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	li { 
		a{
			text-decoration: none;
			color: $gray;
			text-transform: uppercase;
			padding: 10px;
			@include border-radius(4px);
			@include transition(.3s ease);
			&:hover{
				background-color:$grayLighter;
				
			}
		}
		display: inline; 
	}
}
