::-moz-selection {
	color: $white;
	text-shadow: none;
	background: #778da8;
}

::selection {
	color: $white;
	text-shadow: none;
	background: #778da8;
}

.container-fluid{
	header:first-child{
		text-align:center;
		img{
			margin: 12px 0;
			opacity:.4;
			@include transition(.5s ease); 
			&:hover{
				opacity:1;
			}
		}
	}
}

.flexslider{
	border:none;
	box-shadow:none;
	margin-top: 10px;
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;

	.slides{
		img{
			width:auto;
		}
	}
}

.flex-control-thumbs {
	margin: 35px 0 0;
	img {
		width:auto;
		margin-left: auto;
		margin-right: auto;
	}
	li{
		width:20%;
	}
}

.img-text{
	position: absolute;
	top: 120px;
	margin-left: 70px;
	width:430px;
	@include transition(.5s ease);
	h2{
		margin: 5px 0;
	}
	article{
		font-size:17px;
		line-height: 25px;
		padding:10px 0 25px 0;
	}
	a{
		color: $white;
	}
	p{
		margin-left: -18px;
			img{
			opacity:.5;
			@include transition(.3s ease);
			&:hover{
				opacity:1;
			}
		}
	}
}

.white{
	color:$white;
}


.copy{
	text-align: center;
	margin-top: 25px;
	letter-spacing: 4px;
	font-size: 13px;
}

#navcontainer ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	li { 
		a{
			text-decoration: none;
			color: $gray;
			text-transform: uppercase;
			padding: 10px;
			@include border-radius(4px);
			@include transition(.3s ease);
			&:hover{
				background-color:$grayLighter;
				
			}
		}
		display: inline; 
	}
}

.row-fluid [class*="span"], {
	margin-left:0;
}

.visible-phone{
	text-align:center;
	display:none;
	.row-fluid{
		margin:20px 0;
	}
}

//
// Basic Media Queries
// --------------------------------------------------

@media (min-width: 768px) and (max-width: 979px) {
	.img-text{
		top: 80px;
		margin-left: 40px;
		width:350px;
		article{
			font-size:16px;
		}
	}

}

@media (max-width: 767px) {
	.img-text{
		width:280px;
		top: 60px;
		margin-left: 20px;

		article{
			font-size:12px;
			line-height:20px;
		}
		h1{
			font-size:25px;
		}
	}
}

@media (max-width: 600px) {

		.img-text{
		top: 22px;
		margin-left: 10px;
		width:240px;
		article{
			font-size:10px;
			line-height:14px;
		}
		h1{
			font-size:20px;
		}
		p{
			display:none;
		}
		.row-fluid{
			img{
				margin: 10px 0;
			}
		}
	}

}

@media (max-width: 480px) {
	.flexslider{
		display:none;
	}
	.visible-phone{
		display:block;
	}

}